###     PATTERN                     DESCRIPTION                     EXAMPLE
###   filename.ext          Ignores specific file globally        secrets.txt
###       dir/                  Ignores entire directory         node_modules/
###      *.ext                  Wildcard for file types       *.log (all log files)
###        ?                 Matches exactly one character    file?.txt (file1.txt)
###      [abc]                  Matches set characters            log[0-9].txt
###        !                   Negation (Do NOT ignore)      Negation (Do not ignore)
###      /**/                   Matches nested folders              **/logs/
###       #                     Starts a comment line          # API keys below

### Pakku ###
.pakku/*
!.pakku/client-overrides/
!.pakku/client-overrides/**
!.pakku/overrides/
!.pakku/overrides/**
!.pakku/server-overrides/
!.pakku/server-overrides/**
/build/

### Minecraft ###
### Folders ###
.cache/
.fabric/
.mixin.out/
/backups/
/cache/
/config/
/crash-reports/
/data/
/datapacks/
/defaultconfigs/
/downloads/
/fancymenu_data
/flashback/
/local/
/logs/
/moddata/
/mods/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/xaero/
/XaeroWaypoints_*/
/particular_cache/
/dashloader-cache/
/schematics/
/options.txt
/ami-icon-cache
command_history.txt
usercache.json
usernamecache.json
cherishedworlds-favorites.dat
emi.json

### KubeJS ###
/kubejs/probe/
/kubejs/config/probejs.json
/kubejs/config/probe-settings.json
/kubejs/*/jsconfig.json

### Others ###
CIT Catalog/
.bak

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.AppleDouble
.LSOverride

# Windows
Desktop.ini
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.lnk

# Linux
.fuse_hidden*
.directory
.Trash-*
*~